.board {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  max-width: 600px;
  max-height: 600px;
  width: 80vw;
  height: calc(80vw);
  border: 2px solid #333;
  background-color: #333;
  margin: 0 auto;
}

.board-row {
  display: contents; /* Permite que los elementos hijos se comporten como si fueran hijos directos del contenedor grid */
}

.board-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0d9b5;
  border: 1px solid #555;
}

.board-cell.s {
  background-color: #b58863;
}

.board-cell.trap {
  background-color: #5c3b1e;
}

.board-cell.selected {
  background-color: rgba(251, 255, 12, 0.6);
}
